.DS_Store
node_modules

# production env files
.env

# exclude files in uploads
public/uploads/*
!public/uploads/.gitkeep

# exclude files in dist
dist/

# Sentry Config File
.sentryclirc
