<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" style="font-family: 'DM Sans', sans-serif;">

<head>
    <meta charset="utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="x-ua-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
    <!--[if mso]>
        <noscript>
            <xml>
                <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
                    <o:AllowPNG />
                    <o:PixelsPerInch>96</o:PixelsPerInch>
                </o:OfficeDocumentSettings>
            </xml>
        </noscript>
        <style>
            td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
        </style>
    <![endif]-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>node-express-starter</title>

    <style>
        @media (max-width: 600px) {
            .sm-mb-10 {
                margin-bottom: 10px !important;
            }

            .sm-mt-10 {
                margin-top: 10px !important;
            }
            .sm-ml-0 {
                margin-left: 0 !important;
            }
            .sm-max-w-2xl {
                max-width: 336px !important;
            }
            .sm-flex-col {
                flex-direction: column !important;
            }
        }
    </style>
</head>

<body style="margin: 0; width: 100%; padding: 0; word-break: break-word; -webkit-font-smoothing: antialiased; background-color: #fafafa;">

    {{#> preview_text }}
        {{previewText}}
    {{/preview_text}}

    <div role="article" aria-roledescription="email" aria-label="{{previewText}}" lang="en">

        <div class="sm-max-w-2xl" style="margin-left: auto; margin-right: auto; margin-top: 20px; width: 100%; max-width: 512px; background-color: #ffffff; padding: 48px;">
            <div style="text-align: center;">
                <a href="https://node-express-starter.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.node-express-starter.com/assets/mail/logo/icon-text.png" alt="Logo" style="max-width: 100%; vertical-align: middle; line-height: 100%; border: 0; margin-top: 0.25rem; margin-bottom: 0.25rem; height: 44px;">
                </a>
                <hr style="margin-top: 20px; height: 1px; border-width: 0px; background-color: #d1d5db;">
            </div>

            {{!-- Template here --}}
            {{{body}}}
        </div>

        <div class="sm-max-w-2xl" style="margin-left: auto; margin-right: auto; margin-bottom: 20px; width: 100%; max-width: 512px; background-color: #4328af; padding: 48px;">
            <div class="sm-flex-col" style="margin: auto; display: flex; flex-direction: row;">
                <div class="sm-mb-10 sm-w-full sm-text-center">
                    <a href="https://node-express-starter.com" target="_blank" rel="noopener noreferrer">
                        <img src="https://www.node-express-starter.com/assets/mail/logo/icon-text.png" alt="Logo" style="max-width: 100%; vertical-align: middle; line-height: 100%; border: 0; margin-top: 0.25rem; margin-bottom: 0.25rem; height: 44px;">
                    </a>
                    <p style="margin-top: 2px; margin-bottom: 2px; font-size: 14px; color: #ffffff;">
                        node-express-starter tagline
                    </p>
                    <p style="margin-top: 2px; margin-bottom: 2px; font-size: 14px; color: #ffffff;">
                        &copy; 2022 node-express-starter
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>