<div>
    <h3 style="font-size: 24px; font-weight: 700; color: red;">
        Verify your Email
    </h3>

    <p style="font-size: 18px; font-weight: 100; color: #101840;">
        Hi {{user.firstName}},
    </p>

    <p style="font-size: 18px; font-weight: 100; color: #101840;">
        Click the button below to verfiy your account.
    </p>

    <div style="margin-top: 40px; margin-bottom: 40px; text-align: center;">
        <a href="{{emailVerificationLink}}" target="_blank" rel="noopener noreferrer"
            style="border-radius: 4px; background-color: red; padding-top: 14px; padding-bottom: 14px; padding-left: 96px; padding-right: 96px; font-size: 18px; color: #ffffff; text-decoration: none;">
            <span>Verify Email</span>
        </a>
    </div>
</div>